.Error .navbar {
  background-color: red;
}

.Error h1 {
  text-align: center;
  color: red;
  display: block;
  margin: 80px auto 0px;
  padding: 5px 10px;
  border: 5px solid red;
  max-width: 80%;
}