.myInput {
  width: 100%;
  padding: 5px 10px;
  border: 2px solid teal;
  background-color: rgba(255, 255, 255, 0.5);
}

.myInput::placeholder {
  color: black;
  font-style: italic;
}

.myInput:focus {
  background-color: white;
  border-color: green;
  outline: none;
}